table{
    border-collapse: collapse;
    text-align: center;
    font-family: Arial;
    text-align: center;
    font-size:20px;
    width: 10%;
}
th{
    color: blue;
}
t{
    font-size:70px;
    width: 100%;
}
